body {
  /* background-color: #2e2d34; */
  border: 0px;
  margin: 0;
  padding: 0;
  font-family: veranda;
  color: #333F48;
  text-align: left;
  font-family: veranda;
  margin: 50px;
  /* border: solid thin orange; */ 
} 
input, textarea {
  /* background-color:rgb(39, 38, 44); */
  color:rgb(128, 128, 128);
  /* border-color: #4e4e4e; */
}
hr {
  border-color: #535353;
  border-width: 0.5px; 
  border-style: solid;
}
table thead tr{
    display:block;
}
table tbody{
  display:block;
  height:200px;
  overflow:auto;
}
.iframe0{
  width: 100%;
  height: 500px;
}
.tag_table_region{
  visibility: visible;
}
.tag_history_table{
  width: 91%;
  background-color: #f1f1f1;
  padding: 20px 0 0 0;
}
.tag_history_header{
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.tag_history_row{
  display: flex;
  flex-direction: row;
  /* height: 30px; */
  /* margin: 10px; */
  padding: 0;
  border-style: solid;
  border-color: #eeeeee;
  border-bottom-width: thin;
}
.tag_history_column{
  margin: 0 0 0;
  padding: 10px;
  /* border: blue thin solid; */
  /* width: 370px; */
  /* flex-grow: 1; */
  text-align: left;
}
.tag_history_column0{
  width: 180px;
  text-align: center;
}
.tag_history_column_pill{
  flex-grow: 0;
  padding: 10px;
  /* width: 50px; */
  margin: 0 20px 0 0;
}
.topnav, #myLinks { 
  /* display: none; */
  /* border: solid thin green; */
  padding: 2px;
}
.main_div {
  position:relative;
  /* top: -100px; */
  left: 0px;
  z-index:0;
}
.switch_div {
  width:300px;
  height:100px;
  position: relative;
  top: -1020px;
  left: 26%;
  /*z-index:1;*/
}
.filter_color {
  color: #333F48;
  font-weight: bold;
  font-size: 15px;
}
.legend_control {
  color: rgb(128,128,128);
}
.legend_plc {
  /* background-color: blue; */
}
.logo_region {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 5% 10px 5%;
  justify-content: space-between;
  font-family: arial;
}
.kpi_boxes {
  display: flex;
  margin: 50px;
  flex-direction: column;
  /* border: solid thin blue; */
  width: 19.7%;
}
.kpi_title {
  margin: 35px 0 10px 0;
  color: #0d1013;
}
.kpi_box {
    /* border: thin solid red; */
    background-color: #f1f1f1;
    margin: 0 0 20px 0;
    font-family: arial;
}
.kpi_class {
  font-size: 300%;
  font-weight: bolder;
  margin: 0 0 35px 0;
  background-color: #f1f1f1;
}
.flex-container {
  display: flex;
  justify-content: center;
  /* background-color: DodgerBlue; */
  /* margin: 10px; */
  /* flex-wrap: wrap; */
  flex-direction: row;
  flex-wrap: wrap;
  /* padding: 10px; */
}

.ui-widget-content {
  color: #5d5d5d;;
}

.flex-header_footer {
  display: flex;
  justify-content: center;
  /* background-color: DodgerBlue; */
  /* margin: 10px; */
  /* flex-wrap: wrap; */
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-header_footer > div {
  background-color: #f1f1f1;
  width: 90%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  background-color: #27262c;
  padding: 10px;
  margin: 10px;
}

#dialog_login {
  background-color: rgb(39, 38, 44);
}

.ui-dialog .ui-dialog-buttonpane {
  background-color: rgb(39, 38, 44);
}

.flex-container > div {
  /* background-color: #f1f1f1; */
  /* width: 10%; */
  margin: 10px;
  text-align: center;
  /* line-height: 75px; */
  /* font-size: 15px; */
  /* background-color: #2e2d34; */
  height: 500px;
  /* margin: 50px; */
  /* color: white; */
  font-family: arial;
}
.tag_history_body{
  overflow: scroll;
  height: 400px;
}
.flex-container > div:nth-child(2) {
  background-color: #f1f1f1;
  width: 70%;
  margin: 10px;
  text-align: center;
  /* line-height: 75px; */
  /* font-size: 30px; */
  background-color: #27262c;
  /* padding: 10px; */
}
.back_button{
  text-align: left;
}
.tag_history_region{
  display: none;
}
.flex-container > div:nth-child(3) {
  background-color: #f1f1f1;
  width: 91%;
  margin: 10px;
  text-align: center;
  /* background-color: #27262c; */
  font-family: arial;
  padding: 0;
}
.building-name-style-far {
  font-size: 10px;
  stroke-width: 1px; 
  color: #adadad;
  position: absolute;
  text-indent: 15px;
} 
.building-name-style-close {
  font-size: 11px;
  /* font-weight: 900; */
  /* stroke-width: 20px; */
  color: #7f7f7f;
  position: absolute;
  text-indent: 15px;
  -webkit-text-stroke-width: 0.5px;
} 
.pill_blue, .pill_yellow, .pill_green, .pill_red {
  border-radius: 200px;
  color: transparent;
  width: 18px;
  padding: 0;
  margin: 10px 50px 10px 20px;
}
.pill_yellow {
  background-color: orange;
}
.pill_blue {
  background-color: rgb(26, 26, 255);
}
.pill_green {
  background-color: rgb(0, 128, 0);
}
.pill_red {
  background-color: rgb(128, 0, 0);
}
.legend_box {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  line-height: 30px;
}
.header_text {
  font-size: 80%;
  color: rgb(228,228,228);
}
.top_right {
  /* display:flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0 0 0;
  /* height: 30px; */
}
.Rtable-cell1 {
  width: 10%;
  /* border: solid thin green; */
}
.Rtable-cell2 {
  width: 5%;
  border: solid thin green;
}
.Rtable-cell3 {
  width: 5%;
  border: solid thin green;
}
.Rtable-cell4 {
  width: 5%;
  border: solid thin green;
}
.Rtable-cell5 {
  width: 12%;
  border: solid thin green;
}
.Rtable-cell6 {
  width: 5%;
  border: solid thin green;
}
.Rtable-cell7 {
  width: 5%;
  border: solid thin green;
}
.Rtable-cell8 {
  width: 1%;
  /* border: solid thin green; */
  /* font-size: 60%; */
  padding: 0px;
  margin: 0;
}
.Rtable-cell9 {
  width: 15%;
  padding: 0 0 0 20px;
  /* font-size: 60%; */
  /* border: solid thin green; */
}
.Rtable-cell10 {
  width: 15%;
  padding: 0;
  font-size: 60%;
  border: solid thin green;
}
.Rtable-cell_empty {
  color: rgb(189, 189, 189);
}
.cell_filter {
  /* padding: 0; */
  width: 60px;
  /* margin: 0; */
}
.cell0_filter {
  /* display:flex; */
  /* border: solid thin; */
  padding: 0;
  width: 1%;
}
.cell1_filter {
  /* display:flex; */
  width: 10%;
  padding: 0;
  margin: 0;
}
.cell2_filter {
  /* display:flex; */
  width: 4.5%;
}
.cell3_filter {
  /* display:flex; */
  margin: 0;
  padding: 0;
}
.cell4_filter {
  /* display:flex; */
  width: 4.5%;
}
.cell5_filter {
  /* display:flex; */
}
.cell6_filter {
  /* display:flex; */
  width: 4%;
}
.cell7_filter {
  /* display:flex; */
}
.cell8_filter {
  /* display:flex; */
}
.cell9_filter {
  /* display:flex; */
}
.cell10_filter {
  /* display:flex; */
}
.cell1_header {
  /* display:flex; */
  padding: 0;
  margin: 0;
  width: 9.5%;
}
.cell2_header {
  /* display:flex; */
  margin: 0;
  padding: 0;
  width: 4%;
}
.cell3_header {
  /* display:flex; */
  width: 4%;
}
.cell4_header {
  /* display:flex; */
  margin: 0;
  padding: 0;
  width: 4%;
}
.cell5_header {
  /* display:flex; */
  padding: 0;
  margin: 0;
  width: 11%;
}
.cell6_header {
  /* display:flex; */
  padding: 0;
  margin: 0;
  width: 4%;
}
.cell7_header {
  /* display:flex; */
  margin: 0;
  padding: 0;
  width: 4%;
}
.cell8_header {
  /* display:flex; */
}
.hamburger_menu {
  text-align: left;
  width: 55px;
  margin: 0 15px 0 0;
  /* border: solid thin red; */
}
.hamburger-container {
  display: inline-block;
  cursor: pointer;
  margin: 0 0 0 50px;
}
.bar1, .bar2, .bar3 {
  width: 20px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  width: 55px;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 42px;
  z-index: 1;
  font-size: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
   background-color: hsla(0, 100%, 100%, 1);
}

.dropdown a:hover {background-color: #ddd;}

.show {
  display: block;
}
.column0{
  /* color: rgb(128,128,128); */
  flex-grow: 1;
  /* background-color: #888888; */
  /* border: thin solid red; */
  /* color: white; */
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 50px;
}
.column_time{
  width: 150px;
}
.column2{
  /* color: rgb(128,128,128); */
  /* flex-grow: 1; */
  /* background-color: #888888; */
  border: thin solid red;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50px;
}
.column3{
  /* color: rgb(128,128,128); */
  /* flex-grow: 1; */
  /* background-color: #888888; */
  border: thin solid red;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50px;
}
.column4{
  /* color: rgb(128,128,128); */
  /* flex-grow: 1; */
  /* background-color: #888888; */
  border: thin solid red;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50px;
}
.column5{
  /* color: rgb(128,128,128); */
  /* flex-grow: 1; */
  /* background-color: #888888; */
  border: thin solid red;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50px;
}
.column6{
  /* color: rgb(128,128,128); */
  /* flex-grow: 1; */
  /* background-color: #888888; */
  border: thin solid red;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50px;
}
.column7{
  /* color: rgb(128,128,128); */
  /* flex-grow: 1; */
  /* background-color: #888888; */
  border: thin solid red;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50px;
}
.column8{
  /* color: rgb(128,128,128); */
  /* flex-grow: 1; */
  /* background-color: #888888; */
  /* border: thin solid red; */
  /* color: white; */
  margin: 2px;
  padding: 0;
  text-align: center;
  width: 1px;
}
.column9{
  /* color: rgb(128,128,128); */
  /* flex-grow: 1; */
  /* background-color: #888888; */
  /* border: thin solid red; */
  /* color: white; */
  margin: 0;
  padding: 0 0 0 20px;
  text-align: center;
  width: 50px;
}
.column10{
  /* color: rgb(128,128,128); */
  /* flex-grow: 1; */
  /* background-color: #888888; */
  border: thin solid red;
  color: white;
  margin: 0;
  padding: 0; 
  text-align: center;
  width: 50px;
}
div.wrapper {
    width: 300px;
    height:300px;
    border:1px solid black;
}
input[type="text"] {
     display: block;
     margin : 0 auto;
}
.column_scroll_space {
  margin: 0;
  padding: 0;
  width: 14px;
}
.tag_history_for_table{
  display: flex;
  flex-direction: row;
  margin: 0 10px 0 10px;
}
.tag_history_for{
  /* display: flex; */
  /* flex-direction: row; */
  /* margin: 0 0 100px 0; */
  padding: 0px 0 20px 5px;
  font-weight: bold;
  /* height: 150px; */
}
.tag_history_body{
  margin: 0;
  border: none;
  padding: 0;
}
.column_pill {
  width:20px;
}
.column_checkbox {
  width: 20px;
}
.column_hamburger {
  width: 1px;
}
.tag_table {
  height: 420px;
}