table thead tr{
    display:block;
}
table tbody{
  display:block;
  height:200px;
  overflow:auto;
}
table th,table td{
    width:100px;
}

        <input type="button" class="multitrend_button" value="trend" style="float: left;">
        <hr width="81%" align="left" >