.logo_region{
  padding: 10px 0 10px 0;
  width: 50%;
}
.kpi_area{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
thead {
	color: #9e9e9e;
}
.legend_boxes{
	margin: 5px;
	padding: 10px;
}
.over_prediction_color{
	background-color: hsl(8, 75%, 90%);
	color:black;
}
.under_prediction_color{
	background-color: hsl(174,63%,90%);
}
.chart_section{
	margin: 20px 0 0 0;
	display: block;
}
.table_section{
	margin: 0 0 20px 0;
	overflow-y: scroll;
	display: none;
	height: 300px;
}
.visualization_type_class{
	margin: 30px 0 0 0;
}
.subtitle_class{
	color: #9e9e9e;
	margin: 50px 0 0px 0;
}
.kpi_count{
	text-align: right;
	font-size: 200%;
}
.button_class{
	margin: 20px 0 0 0;
}
.threshold_label_class{
	margin: 20px 0 15px 0;
	font-size: 11.6px;
	color: #9e9e9e;
}
.threshold_label_explaination{
	margin: 4px 0 0 0;
	font-size: 11.6px;
	color: #9e9e9e;
}
.threshold_slider_class{
	margin: 0;
	height:3px;
}
.datepicker{
	margin: 0 !important;
}
.wider{
	min-width: 150px;
}
.a_chart{
	min-width: 310px;
	height: 400px;
	max-width: 600px;
	margin: 0 auto 100px auto;
	/* border: solid thin blue; */
}
.input_area_class {
	/* width: 165px; */
}
.building_variances_class {
	margin: 0 0 40px 0;
}
.variance_report_class {
	margin: -5px 0 20px 50px;
}
.hide {
  opacity: 0;
}
.logo_title_class{
	display: flex;
	color: #9e9e9e;
	margin: 0 0 0 30p;
}
/*th, td{
	border: solid thin;
	text-align: center;
}*/