
.Rlayout {
  display: flex;
  flex-direction: row;
  border:solid thin yellow;
  height: 600px;
  flex-wrap: wrap;
}
.Rregion {
  height: 30px;
  width: 30px;
  border:solid thin green;
}
.Rtable {
  display: flex;
  flex-direction: column;
  border: thin solid blue;
  justify-content: space-around;
  width: 200px;
  height: 200px;
}
.Rcell {
  border: thin solid red;
  height: 20px;
}